.custom_container {
    max-width: 1000px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.media_container {
    max-width: 600px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.post {
    padding: 30px 20px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 1px 1px 3px rgb(211, 207, 207);
    margin: 20px 0;
}
.post_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(223, 220, 220);
    padding-bottom: 15px;
}
.post_body .post_img {
    height: 360px;
    background: #FAF7F5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post_body .post_img img {
    max-height: 100%;
    max-width: 100%;
    background: rgb(212, 209, 209);
}